{% extends 'base.html' %}
{% block 'title' %} Homepage {% endblock %}
{% block 'content' %} 

<head>
    <style>
        form{
            height: 100px;
            display: flex;
            justify-content: center;
        }
    </style>
</head>

<form class="form-inline">
    <div class="form-group">
      <label for="tarefa">Tarefa</label>
      <input type="text" class="form-control" id="tarefa" placeholder="Informe uma tarefa">
    </div>
    <button type="submit" class="btn btn-primary" id="btn">Cadastrar tarefa</button>
  </form>

  <ul>

  </ul>

  <script>
    let tarefas = []
    btn = document.getElementById("btn").addEventListener("click", (e)=> {
        tarefa = document.getElementById("tarefa").value
        tarefas.push(tarefa)
        console.log(tarefas)
        e.preventDefault()
    })

</script>
{% endblock 'content' %}


